        <div class="form-group">
    
            <div class="row">
                <div class="col-sm-8">  
                    <input type="text" class="form-control" name="title" placeholder="Title" value="{{ course.title }}">
                    {% if course.id %}
                    <ul class="list-group mt-4" id="demo2">
                        <button type="button" onclick="window.location.href = '{% url 'newsection' course.id %}';" class="btn btn-danger">New Section </button>


                        {% for section in course.section_set.all %} 
                            <li class="list-group-item"><a href="{% url 'editsection' section.id %}">{{section.name}}</a></li>
                        {% endfor %}

                    </ul>  
                    {% endif %}






                    <br />

                    <textarea type="text" class="form-control" name="description" rows="4" placeholder="Course Description">{{ course.description }}</textarea>
                    <br />

                     <textarea id="summernote" name="wywl">{{ course.wywl }}</textarea>
                        <script>
                          $('#summernote').summernote({
                            placeholder: 'What they will learn?',
                            tabsize: 1,
                            height: 250
                          });
                        </script>  
                    


                </div>



                <div class="col-sm-4">
                        {% if course.image %}<img src="{{ course.image.url }}" style="width:100%; height: auto">{% endif %}
                        <input type="file" class="form-control-file" name="image" >
                        <br />
                        <label for="exampleFormControlSelect1">Topic</label>
                        <select class="form-control" name="topic">
                            <option disabled selected>Select topic</option>
                            {% for topic in topics.all %}
                                {% if topic.id == course.topic.id %}
                                    <option selected value="{{ topic.id }}">{{ topic }}</option>
                                {% else %}
                                    <option value="{{ topic.id }}">{{ topic }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br />

                        <form class="form-inline" action="">
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="New Topic" name="topictitle" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-danger" type="submit" name="newtopic" >Add</button>
                              </div>
                            </div>
                        </form>

                   
                        <br />



                        {% for label in course.label.all %} 
                        <button type="submit" name="removelabel" class="badge badge-pill badge-dark" style="margin-bottom: 5px;">{{ label.name }}</button>
                            <input type="hidden" name="labelremove"  value="{{ label.id }}">
                        {% endfor %}

                        <input type="text" class="form-control" name="labels" placeholder="Labels">

                        <br />

                        {% if course.id %}
                        {% if course.published == True %}
                            <small>Published at: {{course.pub_date_exact}}</small>
                        {% else %}
                            <small>Saved at: {{course.pub_date_exact}}</small>
                        {% endif %}
                        {% endif %}

                        <br />

                        <button type="submit" name="save" class="btn btn-danger">Save</button>
                        {% if course.id %}<button type="submit" name="publish" class="btn btn-danger">Publish</button>{% endif %}
                </div>
            </div>
        </div>