{% extends 'base.html' %}

{% block content %}

{% load static %}	


  <!-- Bootstrap core CSS -->


<div class="container">

<div class="row">
  <div class="col">   		
  		<small>{{ course.pub_date }}</small>
  		<h1 class="card-title">{{ course.title }}</h1>
    	<p>{{ course.description }}</p>
    	{{ course.wywl | safe }}
  </div>
  <div class="col">	
	  <div class="card" style="width: 450px; position: fixed;">
			  <img class="card-img-top" src="{{ course.image.url }}" alt="Card image cap">
			  <ul class="list-group list-group-flush">
			  	<a href="#" class="btn btn-danger btn-block">Enroll</a>
			    <li class="list-group-item">
			    	<a href="#">{{ course.topic.title }}</a>
			    </li>
			    <li class="list-group-item">Teacher: <a href="#">{{ course.teacher.get_full_name }}</a></li>
			  </ul>
			  <div class="card-body">
			    	{% for label in course.label.all %} 
            <a href="#" class="badge badge-pill badge-danger" style="margin-bottom: 5px;">{{ label.name }}</a>
				    {% endfor %}
			  </div>

		</div>
	</div>
</div>








<!-- 
<h2>Accordion Example</h2>
  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
</div>

-->

</div>
  <!-- /.container -->

{%endblock%}
