{% extends '../temp/classroom_base.html' %}

{% load static %}   


{% block content %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>


<div class="container-fluid" style="margin-top:40px;">

	{% if error %}

	<p style="color:red;" class="text-center"> {{error}} </p>

	{%endif%}


    <form method="POST" action="{% url 'editcourse' course.id %}" enctype="multipart/form-data">
    	{% csrf_token %}

    {% include "temp/course_new_edit.html" %}


    </form>



<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>


 


</div>


{%endblock%}

