{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top:120px;">

	{% if error %}

	<p style="color:red;" class="text-center"> {{error}} </p>

	{%endif%}


    <form method="POST" action="{% url 'newcourse' %}" enctype="multipart/form-data">
    	{% csrf_token %}



        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title">
            <br />

            <textarea type="text" class="form-control" name="description" rows="2" placeholder="Course Description"></textarea>
            <br />

            <textarea type="text" class="form-control" name="wywl" rows="5" placeholder="What they will learn?"></textarea>
            <br />

            <label for="image">Course Image</label>
            <input type="file" class="form-control-file" name="image">
            <br />

            <label for="exampleFormControlSelect1">Topic</label>
            <select class="form-control" name="topic" placeholder="Course Description" >
                <option disabled selected>Select topic</option>
                {% for topic in topics.all %}
               		<option value="{{ topic.id }}">{{ topic }}</option>
                {% endfor %}
            </select>
            <br />

            <input type="text" class="form-control" name="labels" placeholder="Labels">
            <br />

             <button type="submit" class="btn btn-danger">Submit</button>
        </div>



    </form>

</div>



{%endblock%}