{% extends '../temp/classroom_base.html' %}

{% load static %}   


{% block content %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>

<div class="container-fluid" style="margin-top:40px;">


    <form method="POST" action="{% url 'newresource' section.id %}" enctype="multipart/form-data">
    	{% csrf_token %}

                       <button type="submit" name="addglossary" class="btn btn-danger btn-block">Add Resource</button>
                        <br />

                        <input type="text" class="form-control" name="resourcename" placeholder="Resource Name">

                        <input type="file" class="form-control-file" name="resource" >
    </form>

</div>





{%endblock%}
