{% extends '../temp/classroom_base.html' %} {% load static %} {% load my_tags %} {% block content %}

<div class="container-fluid" style="margin-top:40px;">

    <div class="row">

        <div class="col">

            <small>{{quiz.section.course}} / {{quiz.section}} </small>
            <h3>{{quiz.title}}</h3>

        </div>

        <div class="col-3">

            {% if quiz.section.isLinked == False %}
            {% include "../temp/lp_section_not_linked.html" %}
            {% elif quiz.section.isLinked == True %}
            {% include "../temp/lp_section_is_linked.html" %}
            {% endif %}

            <br />

            <ul class="list-group">

                {% for resource in quiz.section.resource_set.all %}
                <li class="list-group-item"><a target="_blank" href="{{resource.link.url}}">{{resource.name}}</a></li>
                {% endfor %}

            </ul>
            <br />

            <a href="{% url 'viewglossary' quiz.section.course.id %}" target="_blank" class="btn btn-outline-danger btn-block ">Glossary</a>

        </div>

    </div>

</div>

{%endblock%}